<div class="container pt-5" >
  <div class="row justify-content-center">
    <div class="col-lg-6">
     <%= link_to 'Back to overview', restaurants_path%>
     <br>
     <br>
      <h1><%= @restaurant.name %></h1>
      <p>Adress: <%= @restaurant.address %></p>
      <p>Tel: <%= @restaurant.phone_number %></p>
      <p>Category: <%= @restaurant.category %></p>
       <p>
        <%= link_to "Add Review", new_restaurant_review_path(@restaurant.id), class: "btn btn-secondary" %>
      </p>
      <% @restaurant.reviews.each do |review| %>
        <div class="card p-3 bg-light mb-3">
          <%= review.content %>
          <br>
          <p>Rating: <%= review.rating %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
